.button {
    border-radius: 5px;
    box-shadow: 0 0 5px $color-black;
    transition: all 0.2s linear 0s;

    &:hover {
        box-shadow: 0 0 5px $color-white, 0 0 18px $color-white inset;
        text-shadow: 0 0 8px $color-white, 0 0 8px $color-white;
    }
}

.button__level {
    display: block;
    padding: 10px 0;
    margin: 0 0 18px 0;
    color: $color-black;
    text-decoration: none;
    text-align: center;
    font: bold 1.2rem/1.2rem sans-serif;

    &:hover {
        transform: scale(1.2);
    }
}

.button__pause,
.button__back {
    padding: 6px 20px;
    color: $color-black;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 14px/14px 'arial';
}

.button__pause {
    float: right;
}

.button__back {
    float: left;
}

.button__aqua {
    border: 1px solid rgb(0,153,153);
    background: rgb(0,153,153);
    background: linear-gradient(135deg, rgba(0,153,153,1) 0%, rgba(51,204,204,1) 40%, rgba(92,204,204,1) 60%, rgba(0,124,122,1) 100%);
}

.button__orange {
    border: 1px solid rgb(204, 67, 0);
    background: rgb(204, 67, 0);
    background: linear-gradient(135deg, rgba(204, 67, 0, 1) 0%, rgba(204, 103, 53, 1) 40%, rgba(204, 130, 93, 1) 60%, rgba(166, 56, 0, 1) 100%);
}

@media only screen and (max-width: $breakpoint), screen and (max-height: $breakpoint) {
    .button__level {
        font: bold 1.2rem/1.2rem sans-serif;
    }

    .button__pause,
    .button__back {
        margin-top: 1px;
        padding: 4px 5px;
        font: bold 0.9rem/0.9rem 'arial';
    }

    .button__back {
        margin-right: 2px;
    }
}
