.pixdel-start-page,
.pixdel-level-page {
    margin: 0 auto;
    max-width: 230px;
    text-align: center;
}

.pixdel-start-page,
.pixdel-level-page,
.pixdel-game-page {
    transition: 0.4s linear all;
    position: relative;
    opacity: 1;
    height: 100%;
    box-shadow: 0 0 25px 25px $color-transparent;
    background: $color-transparent;
}

.pixdel-game-page {
    overflow: hidden;
}

.page-hidden {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
    pointer-events: none;
    background: $color-white;
    box-shadow: 0 0 25px 25px $color-white;
}

@media only screen and (max-width: 400px) {
    .pixdel-start-page,
    .pixdel-level-page {
        max-width: 180px;
        text-align: center;
    }
}
