.share {
    opacity: 0.5;
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    color: $color-white;
    text-decoration: none;
    transition: all 0.2s linear 0s;

    &:hover {
        opacity: 1;
    }

    &.popup-share {
        margin-bottom: 0;
        color: $color-black;
    }
}
