.pixdel-table {
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    padding: 1px 0 0 1px;
    box-sizing: border-box;
    background: $color-grey-light;
    border: 1px solid $color-grey-light;
}

.pixdel-td {
    float: left;
    border-radius: 3px;
    margin: 0 1px 1px 0;
    background: $color-white;
    box-shadow: 0 0 3px $color-grey-light inset;

    &:last-child {
        margin-right: 0;
    }
}

.pixdel-tr {
    .pixdel-td {
        &:first-child .pixdel-div.active {
            transform: scale(1.3) translate(12%);
        }

        &:last-child .pixdel-div.active {
            transform: scale(1.3) translate(-12%);
        }
    }

    &:first-child {
        .pixdel-div.active {
            transform: scale(1.3) translate(0, 12%);
        }

        .pixdel-td {
            &:first-child .pixdel-div.active {
                transform: scale(1.3) translate(12%, 12%);
            }

            &:last-child .pixdel-div.active {
                transform: scale(1.3) translate(-12%, 12%);
            }
        }
    }

    &:last-child {
        .pixdel-div.active {
            transform: scale(1.3) translate(0, -12%);
        }

        .pixdel-td {
            &:last-child .pixdel-div.active {
                transform: scale(1.3) translate(-12%, -12%);
            }

            &:first-child .pixdel-div.active {
                transform: scale(1.3) translate(12%, -12%);
            }
        }
    }
}
