$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-blue: rgba(56, 178, 206, 1);
$color-grey: rgba(170, 170, 170, 1);
$color-grey-light: rgba(204, 204, 204, 1);

$color-transparent: rgba(0, 0, 0, 0);

$title-red: rgba(204,53,53,1);
