@keyframes loading {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;

  .loader-1,
  .loader-2,
  .loader-3 {
    border-radius: 3px;
    position: absolute;
    transition: 0.4s linear all;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(0,153,153);
    background: rgb(0,153,153);
    background: linear-gradient(135deg, rgba(0,153,153,1) 0%, rgba(51,204,204,1) 40%, rgba(92,204,204,1) 60%, rgba(0,124,122,1) 100%);
}
  .loader-1 {
    animation: loading 1s infinite;
    left: -90px;
}
  .loader-2 {
    animation: loading 1s 0.1s infinite;
    left: 0;
}
  .loader-3 {
    animation: loading 1s 0.2s infinite;
    left: 90px;
}
}